<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>JavaSummit</title>
</head>

<body>
    <nav class="navbar-gn">
        <div class="navbar__container">
            <a href="#" class="navbar__logo">JavaSummit</a>
            <div class="navbar__menu" id="navbar-menu">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="index.html" class="navbar__link">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container-gn">
        <div class="card__container">
            <div class="card__content grid">
                <!-- Duplicate the following card template and modify details to reach 12 cards -->
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/bromo mountain.jpeg" alt="image" class="card__img">
                        <div class="card__location">Jawa Timur</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Bromo</h3>
                        <p class="card__description">Nikmati keindahan matahari terbit yang epik di atas kawah aktif dan
                            lautan pasir yang menakjubkan. Lokasi: Taman Nasional Bromo Tengger Semeru, Jawa Timur</p>
                        <a href="basecamp.html" class="card__button">View More</a>
                    </div>
                </article>
                <!-- Repeat above block with different images and content to reach 12 cards -->
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Gunung Arjuno, Jawa Timur.jpg" alt="image" class="card__img">
                        <div class="card__location">Jawa Timur</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Arjuno</h3>
                        <p class="card__description">
                            Jelajahi trek menantang dengan pemandangan kota Malang dan Batu dari puncaknya.
                            Lokasi: Jawa Timur, di dekat kota Malang dan Batu.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Gunung Merbabu.jpg" alt="image" class="card__img">
                        <div class="card__location">Jawa Timur</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Merbabu</h3>
                        <p class="card__description">
                            Dapatkan pemandangan spektakuler ke arah Gunung Merapi melalui trek yang bervariasi.
                            Lokasi: Jawa Tengah, dekat dengan kota Salatiga dan Magelang.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Gunung Papandayan.jpg" alt="image" class="card__img">
                        <div class="card__location">Jawa Barat</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Papandayan</h3>
                        <p class="card__description">
                            Di gunung Papandayan ini pendaki dapat menemukan keindahan kawah aktif, sumber air panas,
                            dan hutan mati yang eksotis.
                            Lokasi: Jawa Barat, di Kabupaten Garut.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Gunung Prau.jpg" alt="image" class="card__img">
                        <div class="card__location">Jawa Tengah</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Prau</h3>
                        <p class="card__description">
                            Di Gunung Prau pendaki dapat menyaksikan sunrise luar biasa di Dieng dengan pendakian
                            singkat namun menantang.
                            Lokasi: Jawa Tengah, di kawasan Dieng.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Gunung Sindoro, Jawa Tengah.jpeg" alt="image" class="card__img">
                        <div class="card__location">Jawa Tengah</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Sindoro</h3>
                        <p class="card__description">
                            Tantang diri Anda dengan trek menanjak yang menawarkan panorama Gunung Sumbing dan Merbabu.
                            Lokasi: Jawa Tengah, dekat dengan Wonosobo.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Mount Semeru, East Java.jpg" alt="image" class="card__img">
                        <div class="card__location">Jawa Tengah</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Semeru</h3>
                        <p class="card__description">
                            Capai puncak gunung tertinggi di Jawa dan nikmati pemandangan epik dari Mahameru.
                            Lokasi: Taman Nasional Bromo Tengger Semeru, Jawa Timur.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Puncak gunung gede.jpg" alt="image" class="card__img">
                        <div class="card__location">Jawa Barat</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Gede</h3>
                        <p class="card__description">
                            Jelajahilah hutan tropis dan padang edelweiss dengan pemandangan kota yang menakjubkan.
                            Lokasi: Jawa Barat, di Taman Nasional Gunung Gede Pangrango.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Raung Bolong  East Jawa Indonesia.jpg" alt="image" class="card__img">
                        <div class="card__location">Jawa Timur</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Raung</h3>
                        <p class="card__description">
                            Rasakan sensasi ekstrem di kaldera besar dengan pemandangan puncak yang memukau.
                            Lokasi: Jawa Timur, di kawasan Banyuwangi, Bondowoso, dan Jember.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
                <article class="card__article">
                    <div class="card__image">
                        <img src="../Assets/Sindoro-Sumbing.jpeg" alt="image" class="card__img">
                        <div class="card__location">Jawa Tengah</div>
                        <div class="card__shadow"></div>
                    </div>
                    <div class="card__data">
                        <h3 class="card__name">Gunung Sumbing</h3>
                        <p class="card__description">
                            Nikmati trek dengan pemandangan indah kebun tembakau dan panorama Gunung Sindoro.
                            Lokasi: Jawa Tengah, dekat Temanggung dan Wonosobo.
                        </p>
                        <a href="#" class="card__button">View More</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-left">
            <h4>JavaSummit</h4>
        </div>
        <div class="footer-center">
            <h4>Social Media</h4>
            <p><a href="#">Instagram</a></p>
            <p><a href="#">Twitter</a></p>
            <p><a href="#">Youtube</a></p>
            <!-- Daftar ikon media sosial -->
        </div>
        <div class="footer-right">
            <h4>Contact Person</h4>
            <p>Rafli</p>
            <p>Ajeng</p>
            <p>Nova Sukmawati</p>
        </div>
    </footer>
</body>

</html>